footer
      div.container
        div.row
          div.span3.first
            image(src="images/logo.png")
          div.span6
            ul.list-inline
              li
                dl.links
                  dt Nom des liens
                  dd Lien 1
                  dd Lien 2
                  dd Lien 3
              li
                dl.links
                  dt Groupe iliad
                  dd Lien 1
                  dd Lien 2
                  dd Lien 3

          div.span3.pull-right
            div.col-md-4.share.share-twitter.clearfix
              h4 Twitter
            div.col-md-4.share.share-facebook
              h4 Facebook
