extends layout
block content
	div(role="alert").alert.alert-success
		|We are always expanding our Community documentation section. If you like to help people, you can write articles and submit them at writer@labs.online.net.<br />Every guide you write will be published in the Community documentation section.

	h1= page.title
	!= page.html
