block footer
  footer
    div.container
      div.row
        div.span3.first
          image(src="/images/logo_footer.png")
        div.span6
          ul.list-inline
            li
              dl.links
                dt ONLINE
                dd
                  a(href="http://labs.online.net" target="_blank") ONLINE LABS
                dd
                  a(href="https://community.cloud.online.net" target="_blank") COMMUNITY
                dd
                  a(href="http://blog.cloud.online.net" target="_blank") BLOG
                dd
                  a(href="https://doc.cloud.online.net/api/") API

            li
              dl.links
                dt GROUPE ILIAD
                dd
                  a(href="http://www.online.net/" target="_blank") ONLINE
                dd
                  a(href="http://www.iliad-datacenter.fr/" target="_blank") ILIAD DATACENTER
                dd
                  a(href="http://www.free.fr/" target="_blank") FREE
                dd
                  a(href="http://mobile.free.fr/" target="_blank") FREEMOBILE


        div.span3.pull-right
          a(href="https://twitter.com/online_fr" target="_blank")
            div.col-md-4.share.share-twitter.clearfix
              h4 Twitter
          a(href="https://www.facebook.com/pages/Online/147829252092178" target="_blank")
            div.col-md-4.share.share-facebook
              h4 Facebook
