footer
      div.container
        div.row
          div.span3.first
            image(src="/images/logo_footer.png")
          div.span6
            ul.list-inline
              li
                dl.links
                  dt Online labs
                  dd
                    a(href="//labs.online.net") ONLINE LABS
                  dd
                    a(href="//lab.online.net/blog") BLOG
                  dd
                    a(href="//lab.online.net/documentation") DOCUMENTATION
                  dd
                    a(href="//lab.online.net/documentation/api") API

              li
                dl.links
                  dt Groupe iliad
                  dd
                    a(href="//www.online.net/") ONLINE
                  dd
                    a(href="//www.iliad-datacenter.fr/") ILIAD DATACENTER
                  dd 
                    a(href="//www.free.fr/") FREE
                  dd
                    a(href="//mobile.free.fr/") FREEMOBILE


          div.span3.pull-right
            div.col-md-4.share.share-twitter.clearfix
              h4 Twitter
            div.col-md-4.share.share-facebook
              h4 Facebook
