block footer
  footer
    div.container
      div.row
        div.span3.first
          image(src="/images/logo.png")
        div.span6
          ul.list-inline
            li
              dl.links
                dt ONLINE
                dd
                  a(href="//labs.online.net" target="_blank") ONLINE LABS
                dd
                  a(href="//community.cloud.online.net" target="_blank") COMMUNITY
                dd
                  a(href="//blog.cloud.online.net" target="_blank") BLOG
                dd
                  a(href="//doc.cloud.online.net" target="_blank") DOCUMENTATION
                dd
                  a(href="//doc.cloud.online.net/api/" target="_blank") API

            li
              dl.links
                dt GROUPE ILIAD
                dd
                  a(href="//www.online.net/" target="_blank") ONLINE
                dd
                  a(href="//www.iliad-datacenter.fr/" target="_blank") ILIAD DATACENTER
                dd
                  a(href="//www.free.fr/" target="_blank") FREE
                dd
                  a(href="//mobile.free.fr/" target="_blank") FREEMOBILE
                dd
                  a &nbsp;


        div.span3.pull-right
          a(href="//twitter.com/labs_online" target="_blank")
            div.col-md-4.share.share-twitter.clearfix
              h4 Twitter
          a(href="https://www.facebook.com/pages/Online/147829252092178" target="_blank")
            div.col-md-4.share.share-facebook
              h4 Facebook