head
  title #{page.title} - #{locals.title}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel="icon", href="/images/favicon.png", sizes="16x16", type="image/png")
  link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
  link(rel="stylesheet", href="/styles/main.css")



