header(id="top" role="banner").navbar.navbar-static-top.navbar-color
	div.container
		div.navbar-header
			button(type="button", data-toggle="collapse").navbar-toggle
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href='/').navbar-brand
				image(src="/images/logo.png")
		div.irc.pull-right
			a(href="irc://irc.online.net:6667/#onlinelabs") irc.online.net/#onlinelabs