nav(role='nagivation').navbar.navbar-fixed-top.navbar-color
	div.container
		div.navbar-header
			button(type="button", data-toggle="collapse").navbar-toggle
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href='/').navbar-brand
				image(src="/images/logo.png")
