

script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript').
  $(".menu-header").click(function() {
    if ($(this).parent().find('.item-doc').is(":visible"))
      $(this).parent().find('.item-doc').hide();
    else
      $(this).parent().find('.item-doc').show();
  });
