body { padding-top: 60px; padding-bottom: 40px; }
.navbar-color { background: #27333A; height: 90px; }
#img { width: 900px; }
.sidebar-nav { padding: 9px 0; }
.menu-header { background: #27333A; border-color: #27333A; text-align:center; color: #A9D0E0; font-size: 24px; font-weight: lighter; }
.sub-menu-header { margin:0; margin-bottom: -1px; color: #2D353A; background: #EAEDF1; }
a.active-url { background-color: #27C295!important; border-color: #27C295!important; }

h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: lighter;
}

h3 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 40px;
}

p {
   font-size: 16px;
}

.documentation {
    margin-top:50px;
}



footer {
    padding: 50px;
    min-height:265px;
    text-align: center;
    background: #FFFFFF;
}

footer h4 {
    font-size: 18px;
    color: #696e71;
    margin-top: 15px;
    margin-left: 40%;
    text-align: left;
}

.first {
    margin-left: 0!important;
}

.span3 {
    width: 260px;
    float: left;
    margin-left: 20px;
}

.span6 {
    width: 390px;
    float: left;
    margin-left: 20px;
}

.links {
    padding: 20px;
    text-align: left;
}

.links dt {
    margin-bottom: 10px;
    color: #7d8184;
    font-size: 16px;
}

.links dd {
    margin-top: 5px;
    font-size: 14px;
    color: #bcbfc4;
}

.links dd a {
    color: inherit;
}

.share {
    border: 1px solid #eaedf1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 50px;
    width:165px;
}

.share-twitter {
    background-image: url('/images/twitter.png');
    background-repeat: no-repeat;
    background-position: 10% center;
}

.share-facebook {
    margin-top:20px;
    clear:both;
    background-image: url('/images/facebook.png');
    background-repeat: no-repeat;
    background-position: 10% center;
}

.share-facebook:hover, .share-twitter:hover {
    opacity: 0.5;
}
