doctype

include _bootstrap-mixins.jade

html
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="icon" href="//doc.cloud.online.net/images/icon_16x16.png" sizes="16x16" type="image/png")
        link(rel="icon" href="//doc.cloud.online.net/images/icon_32x32.png" sizes="32x32" type="image/png")
        link(rel="icon" href="//doc.cloud.online.net/images/icon_64x64.png" sizes="64x64" type="image/png")
        link(rel="icon", href="//doc.cloud.online.net/images/icon_128x128.png", sizes="128x128", type="image/png")
        title= api.name || 'API Documentation'
        block bootstrap-theme
        //link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.min.css")
        block styles
            style.
                /* Highlight.js Theme Tomorrow */
                .hljs-comment,.hljs-title{color:#8e908c}.hljs-variable,.hljs-attribute,.hljs-tag,.hljs-regexp,.ruby .hljs-constant,.xml .hljs-tag .hljs-title,.xml .hljs-pi,.xml .hljs-doctype,.html .hljs-doctype,.css .hljs-id,.css .hljs-class,.css .hljs-pseudo{color:#c82829}.hljs-number,.hljs-preprocessor,.hljs-pragma,.hljs-built_in,.hljs-literal,.hljs-params,.hljs-constant{color:#f5871f}.ruby .hljs-class .hljs-title,.css .hljs-rules .hljs-attribute{color:#eab700}.hljs-string,.hljs-value,.hljs-inheritance,.hljs-header,.ruby .hljs-symbol,.xml .hljs-cdata{color:#718c00}.css .hljs-hexcolor{color:#3e999f}.hljs-function,.python .hljs-decorator,.python .hljs-title,.ruby .hljs-function .hljs-title,.ruby .hljs-title .hljs-keyword,.perl .hljs-sub,.javascript .hljs-title,.coffeescript .hljs-title{color:#4271ae}.hljs-keyword,.javascript .hljs-function{color:#8959a8}.hljs{display:block;background:white;color:#4d4d4c;padding:.5em}.coffeescript .javascript,.javascript .xml,.tex .hljs-formula,.xml .javascript,.xml .vbscript,.xml .css,.xml .hljs-cdata{opacity:.5}
            style
                :stylus
                    body, h4, h5
                        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important

                    h1, h2, h3, .aglio
                        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important

                    h1, h2, h3, h4, h5
                        & a
                            display none

                        &:hover a
                            display inline

                    code
                        color #444
                        background-color #ddd
                        font-family 'Inconsolata' monospace !important

                    a[data-target]
                        cursor pointer

                    h4
                        font-size 100%
                        font-weight bold
                        text-transform uppercase

                    .back-to-top
                        position fixed
                        z-index 1
                        bottom 0px
                        right 24px
                        padding 4px 8px
                        background-color #eee
                        text-decoration none !important
                        border-top 1px solid rgba(0, 0, 0, 0.1)
                        border-left 1px solid rgba(0, 0, 0, 0.1)
                        border-right 1px solid rgba(0, 0, 0, 0.1)
                        border-top-left-radius 3px
                        border-top-right-radius 3px

                    .panel
                        overflow hidden

                    .panel-heading
                        code
                            color #c7254e
                            background-color transparent
                            white-space pre-wrap
                            white-space -moz-pre-wrap
                            white-space -pre-wrap
                            white-space -o-pre-wrap
                            word-wrap break-word
                        h3
                            margin-top 10px
                            margin-bottom 10px

                    a.list-group-item
                        white-space nowrap
                        text-overflow ellipsis
                        overflow hidden

                        &.heading
                            background-color #f5f5f5

                    .list-group-item.collapse
                        display none

                    .list-group-item.collapse.in
                        display block

                    #nav
                        margin-top 38px
                        min-width 255px
                        top 0
                        bottom 0
                        padding-right 12px
                        padding-bottom 12px
                        overflow-y auto

                    @media(max-width: 1199px)
                        #nav
                            min-width 212px

    body
        a.text-muted.back-to-top(href='#top')
            i.fa.fa-toggle-up
            | &nbsp;Back to top

        header(id="top" role="banner").navbar.navbar-static-top.navbar-color
            div.container
                div.navbar-header
                    button(type="button", data-toggle="collapse").navbar-toggle
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(href='/').navbar-brand
                        image(src="/images/logo.png")

        .container
            .row
                block nav
                    +Nav(false)

                .col-md-9
                    block content
                        +Content('primary', false)

        footer
          div.container
            div.row
              div.span3.first
                image(src="/images/logo_footer.png")
              div.span6
                ul.list-inline
                    li
                      dl.links
                        dt ONLINE
                        dd
                          a(href="http://labs.online.net" target="_blank") ONLINE LABS
                        dd
                          a(href="https://community.cloud.online.net" target="_blank") COMMUNITY
                        dd
                          a(href="https://blog.cloud.online.net" target="_blank") BLOG
                        dd
                          a(href="https://doc.cloud.online.net") DOCUMENTATION

                    li
                      dl.links
                        dt GROUPE ILIAD
                        dd
                          a(href="http://www.online.net/" target="_blank") ONLINE
                        dd
                          a(href="http://www.iliad-datacenter.fr/" target="_blank") ILIAD DATACENTER
                        dd
                          a(href="http://www.free.fr/" target="_blank") FREE
                        dd
                          a(href="http://mobile.free.fr/" target="_blank") FREEMOBILE

              div.span3.pull-right
                a(href="https://twitter.com/online_fr" target="_blank")
                  div.col-md-4.share.share-twitter.clearfix
                    h4 Twitter
                a(href="https://www.facebook.com/pages/Online/147829252092178" target="_blank")
                  div.col-md-4.share.share-facebook
                    h4 Facebook


    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script
        :coffee
            # Show a warning when viewed as a local file, which will break the
            # links above that start with `//`.
            if location.protocol is 'file:'
                document.getElementById('localFile').style.display = 'block';
    block scripts
        script
            :coffee
                $('table').addClass 'table'
