<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/main.css" rel="stylesheet" media="screen">
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">

<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">

</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/{{page.lang}}">{{site.name}}</a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        {% for menu in site.menu %}
        {% assign m = menu[0] %}
        <ul class="nav nav-list">
          <li class="nav-header">
          {{ site.locales[page.lang][m] }}
          </li>
          {% for pa in menu[1] %}
          {% capture url %}/{{page.lang}}/{{menu[0]}}/{{pa}}.html{% endcapture %}
          {% for p in site.pages %}
          {% if p.lang == page.lang %}
          {% if p.url == url %}
          {% if page.url == url %}
          {% assign active = 'active'%}
          {% else %}
          {% assign active = ''%}
          {% endif %}
          <li class="{{active}}"><a href="{{p.url}}">{{p.title}}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </div>

    <div class="span9">
      {{ content }}
    </div>

  </div>
    <hr>
    <footer>
      {% for l in site.languages %}
      <a href="{{l.url}}">{{l.name}}</a>
      {% endfor %}
    </footer>
</div> <!-- /container -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
